* {
  font-family: "Roboto", sans-serif;
  color: #242424;
}

body {
  margin: 0;
  background: #fff;
  place-items: normal;
  display: grid;
}
header {
  width: 200px;
  padding: 32px;
  margin: 0 auto;
}
